name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.23
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - name: Get dependencies
      run: |
        go mod download
        go install github.com/onsi/ginkgo/v2/ginkgo@latest
    - name: Build
      run: go build -v ./...
    - name: Test
      run: ginkgo -r -cover -covermode=count
